
  style {
    box-sizing: border-box;
  }

  body {
    font-family: sanscrit;

  }
  
  /* Style the header */
  header {
    background-color: #3f3939;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  
  }
  
  /* make description take up left side of screen with dice to the right of it */
  nav {
    background-color: grey;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    
  }

  /* article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 70%;
    padding: 20px;
  } */



  /* Style the footer */
  footer {
    float: right;
    background-color: #777;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
  }
 .button {
  height: 30px;
  border: "14px solid black";
 }

 .dice{
    display: flex;
    justify-content: center;

 }

 .leftside{
   
  
 }

 .rightside{
    /* margin: ; */
 }