
  style {
    box-sizing: border-box;
  }

  body {
    font-family: sanscrit;

  }
  
  /* Style the header */
  header {
    background-color: #3f3939;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  
  }
  
  /* make description take up left side of screen with dice to the right of it */
  nav {
    background-color: grey;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    
  }

  /* article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 70%;
    padding: 20px;
  } */



  /* Style the footer */
  footer {
    float: right;
    background-color: #777;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
  }
 .button {
  height: 30px;
  border: "14px solid black";
 }

 .dice{
    display: flex;
    justify-content: center;

 }


 /* @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite; */
	/* img { width: 100%; height: auto; } */
/* } */